<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Demo deploy app to Heroku</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
    <h2 style="background: white"> Hi there! This is a sample page deploy to Heroku.</h2>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                xfbml            : true,
                version          : 'v6.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="110251920683103"
         theme_color="#0084ff"
         logged_in_greeting="Hi! How can i help you?"
         logged_out_greeting="Hi! How can i help you?">
    </div>
</div>
</body>
</html>
