<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Demo deploy app to Heroku</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
    <h2 style="background: white"> Hi there! This is a sample page deploy to Heroku.</h2>
</div>
</body>
</html>
